{% extends 'base.html' %}
{% load static %}

{% block title %}
  <i class="fa-solid fa-list"></i>
  Tracks list
{% endblock %}

{% block subtitle %}
  There are {{ total_tracks }} tracks in the database.
{% endblock %}

{% block content %}
  <nav class="level">
    <div class="level-left">
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a href="#" class="pagination-previous">Previous</a>
        <a href="#" class="pagination-next">Next page</a>
        <ul class="pagination-list">
          {% if page.has_previous %}
            <li>
              <a href="#" class="pagination-link" aria-label="Goto page 1">1</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a href="#" class="pagination-link" aria-label="Goto page {{ page.previous_page_number }}">{{ page.previous_page_number }}</a>
            </li>
          {% endif %}

          <li>
            <a class="pagination-link is-current" aria-label="Page {{ page.number }}
          " aria-current="page">{{ page.number }}</a>
          </li>

          {% if page.has_next %}
            <li>
              <a href="#" class="pagination-link" aria-label="Goto page {{ page.next_page_number }}">{{ page.next_page_number }}</a>
            </li>

            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a href="#" class="pagination-link" aria-label="Goto page {{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a track" />
        </p>
        <p class="control">
          <button class="button">Search</button>
        </p>
      </div>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th>
          <abbr title="Position">#</abbr>
        </th>
        <th>Date</th>
        <th>Name</th>
        <th>Artists</th>
        <th>Durations</th>
      </tr>
    </thead>
    <tbody>
      {% for index, column in tracks.iterrows %}
        <tr>
          <td>{{ index }}</td>
          {% for value in column %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
